html { margin: 0px; padding: 0px; }
body { background: transparent; font: 13px 'Lucida Grande'; color: #fff; }
h2 { font-size: 15px; font-family: 'Lucida Grande'; padding: 6px 0px 0px }

a { color: #fff; }

#front { background: transparent url('../images/bg-front.png') no-repeat 0px 0px; width: 232px; height: 108px; }
#front .widgetcontent { padding: 20px; }

#back input[type=text],
#back input[type=password] { width: 140px; }
#back p { margin: 0px 0px 10px; }

input[type=text].error { background: #fcc; }

#channels { width: 190px; margin: 4px 0 5px; }
#play { width: 120px }
#stop { width: 70px }
#status { margin: 5px 0 0; text-shadow: 0px 1px 1px #000; }

embed,object { visibility: hidden; position: absolute; left: 0; right: 0; }
